<ion-content [fullscreen]="true">
  <div class="homeBody">
    <div class="lowerBody">
      <div class="topRow-web">
        <div class="box"></div>
        <div class="frame"></div>
        <div class="box"></div>
      </div>
      <!-- <ng-image-slider [images]="imageObject" #nav></ng-image-slider> -->
      <div class="slider">
        <div class="slide-track">
          <div *ngFor="let x of trial.image_list" class="slide">
            <img src="{{x}}" alt="" />
          </div>
        </div>
      </div>
      <div class="buttons">
        <div class="btn yes"></div>
        <div class="btn no"></div>
      </div>
    </div>
  </div>
</ion-content>
